{% extends "base.html" %}
{% block content %}
    <h3>Groups You've Joined</h3>
        {% for i in check %}


        <div id="cont_grp">{{ i }}
            <a href="{{ i}}/unjoin" class="btn btn-danger btn-xs" style="float:right; margin-right: 2px;">
                Unjoin
            </a>
            <a href="{{ i }}" class="btn btn-primary btn-xs" style="float:right; margin-right:2px;">
                View
            </a>

        </div>

        {% endfor %}

        {% block content-sub %}

        {% if check2.count != '' %}
            <hr>
            <h3>You can also Join:</h3>
        {% endif %}
        {% for i in check2 %}


        <div id="cont_grp">{{ i }}

            <a name="join" href="/view/get/{{ i }}" class="btn btn-primary btn-xs" style="float:right;" >
                Join Group
            </a>
        </div>


        {% endfor %}

        {% endblock %}

{% endblock %}
