{% extends 'base.html' %}
    {% block content %}

        {% for i in check %}
            <div style="background-color:eee; margin:4px; min-height:100px; padding: 5px;">
            <strong>{{ i }}</strong>
            <a href="/view/group/{{ i }}/add/" class="btn btn-primary btn-xs" style="float:right;">Add a New Article</a><br>
            {% if articles.count > 0 %}
                {% for article in articles %}
                    {% if i = article.group_id %}
                        {% if user = article.Author_id %}
                            {{ article.Title }}<br>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                None
            {% endif %}

            </div>

        {% endfor %}

   {% endblock %}
    {% block nav %}
        {{ user.username }}
    {% endblock %}