{% extends 'base.html' %}
{% block content %}
        <h2>Add Article</h2>
        <hr style="margin-top:0px;">
        <div>
<form name="addarticle" action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <ul style="list-style:None; margin-left:30px;">
        <li><label for="Title">Title:&nbsp; </label>{{ form.Title }}{{ form.Title.errors }}</li>
        <li><label for="Body">Body: </label>{{ form.Body }}{{ form.Body.errors }}</li>
        <br>
        <li style="margin-left:40px;">{{ form.File }}{{ form.File.errors }}</li>
    </ul>
    <input type="submit" style="margin-left:70px;" class="btn btn-success">

</form>
      </div>
{% endblock %}