{% extends "base.html" %}
{% block content %}

<div>
Articles
<a href="add/" style="float:right;">Add a New Article</a>

    <hr>
</div>
{% if articles.count > 0 %}
{% for article in articles reversed %}

         {% if article.group_id_id = grp %}
<div id="art_cont" style="border-color:black; border:solid;border-width:thin;">
    {% if article.Author_id_id = parameter %}
        <a href="/view/group/{{ article.group_id }}/remove_article/{{ article.id }}" class="btn btn-danger btn-xs" style="float:right;">X</a>
    {% endif %}
    <font size="4"><a href="/view/group/{{ article.group_id }}/show/{{ article.id }}/">"{{ article.Title }}"</a></font>
    <font size="2">-{{ article.Author_id }}</font><div style="float:right"><font size="1">{{ article.art_date|timesince }} ago &nbsp;&nbsp;&nbsp;</font></div>
    <hr>
    <p><font size="2">{{ article.Body|upper|truncatewords:"10" }}</font></p><!-- filters -->

</div>

        {% endif %}
{% endfor %}

{% else %}
None

{% endif %}
{% endblock %}