{% extends "index.html" %}
{% block content %}


{% if articles.count > 0 %}
<h1> Articles </h1>
        <a href="add/">Add a New Article</a>
{% for article in articles %}

         {% if article.Author_id_id = parameter %}
         {% if article.group_id_id = grp %}
<div>

    <a href="add/">Add a New Article</a>
    <h2><a href="/articles/get/{{ article.id }}/">{{ article.Title }}</a> </h2>
    <p>{{ article.Body|upper|truncatewords:"10" }}</p><!-- filters -->
    <p>{{ article.Link }}</p>
</div>
        {% endif %}
        {% endif %}
{% endfor %}

{% else %}
None

{% endif %}
{% endblock %}