{% load staticfiles %}
*{
margin: 0px auto;
padding: 0px;
}

body{
background-attachment:fixed;
}

.nt-body{
background-color: #56b;
width: 800px;
min-height: 500px;
border-radius: 5px;
border:solid;
border-color:#fff;
padding: 20px;
margin-top:25px;
}

hr{
margin-top:0px;
margin-bottom:0px;
}
.main{
background-color: #89e; 
border: solid;
border-color:white;
border-width:thin;
min-height:70px;
margin-top:80px;
padding:10px;
color:white;
}
#brand{
color:white;
margin-left:100px;
padding:5px;
}
#logo{
float:left;
}
#content{
color:white;
margin-top:30px;
text-align:center;
}
#left-contact{
color:white;
width:330px;
font-size:small;
margin-top:5px;
margin-left:0px;
padding:5px;
}
#right-contact{
color:white;
width:330px;
font-size:small;
margin-top:5px;
padding:5px;
float:right;
}
