*{
margin: 0px;
padding: 0px;

}

body{
background-color: #aaa;
}

header{
min-height: 100px;
background-color: #bbb;
}

footer{
min-height: 100px;
background-color: #88a;
margin-top:4px;
}

#main{
width:80%;
margin: 10px auto;
margin-top:60px;
overflow:hidden;
}

#Left-Sidebar{
min-height:400px;
background-color: #fff;
width:150px;
float: left;
border-radius:3px;
padding:5px;
}

#Right-Sidebar{
min-height: 400px;
background-color: #fff;
width:100px;
float:right;
border-radius:3px;
padding: 5px;
}

#content{
min-height:400px;
background-color: #fff;
margin-left:154px;
margin-right:104px;
border-radius:3px;
padding: 5px;
}

#cont_grp{
min-height: 30px;
background-color: #ddd;
margin:4px;
padding:4px;
border-radius: 3px;
}

#art_cont{
background-color: #ccf;
padding:5px;
}