{% load staticfiles %}
<html>
<head>
<title>
Testing Styles
</title>
<link rel="stylesheet" type="text/css" href=" {% static "assets/css/bootstrap.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "assets/css/mystyle.css" %}">

</head>
<body background="{% static "assets/images/Wall2.gif" %}">
<div class="nt-body">
	<div id="logo">
		<img src="{% static "assets/images/logo.png" %}" height="70" width="90">
	</div>
	<div id="brand">
		<h1>Django-Content-Management-App</h1>
	</div>
	<hr>
	<br><br>
	{% block content %}	
<center><img src="{% static "assets/images/logo2.png" %}"></center>
	<div id="content">
	<img src="{% static "assets/images/logo5.png" %}" style="width:250px; height:80px;">	
	<img src="{% static "assets/images/logo3.png" %}" style="float:left;width:250px; height:80px;">
	<img src="{% static "assets/images/logo4.png" %}" style="float:right;width:250px; height:80px; ">
<br>	
<br>
		This website has been developed by Nexthoughts Software Technology Private Limited.	
	</div>
	<div class="main"><center>
		If you are a member : <a href="/accounts/login/" class="btn btn-primary btn-lg" role="button">Login</a> else : 
		<a href="/accounts/register/" class="btn btn-primary btn-lg" role="button">Register</a>
	</center>	
	</div>
{% endblock %}
<hr>
	<div class="contactus">
		<div id="right-contact">
		Reach us at:
		<hr style="border-color:#fff">
		contact@nexthoughts.com<br>
		http://www.nexthoughts.com<br>
		</div>		

		<div id="left-contact">

		Contact
		<hr style="border-color:#fff">
		Nexthoughts Software Technologies Pvt Ltd<br>
		4, Science & Technology Entrepreneur's Park,<br>
		C- 20/1, JSSATE, Sector 62, Noida - 201301, U.P.<br>
	
		</div>
		
	</div>
</div>
<script src="{% static "assets/js/jquery-1.11.1.min.js" %}"></script>
<script>
$(document).ready(function(){
  $("img").hide()
  $("img").fadeIn(2000)
});
</script>
</body>
</html>

